@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-light: #f6f6f6;
    --color-dark: #000;
    --color-secondary: #22d4fd;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    height: 100vh;
    box-sizing: border-box;
}

.destaque-titulo {
    color: var(--color-secondary);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao-conteudo {
    width: 615px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao-conteudo-texto {
    margin: 20px 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}