* {
    margin: 0;
    padding: 0;
}

:root {
    --color-light: #f6f6f6;
    --color-dark: #000;
    --color-secondary: #22d4fd;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    height: 100vh;
    box-sizing: border-box;
}

.destaque-titulo {
    color: var(--color-secondary);
}

.apresentacao {
    display: flex;
    align-items: center;
}