@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-light: #f6f6f6;
    --color-dark: #000;
    --color-secondary: #22d4fd;
    --color-hover: #272727;
    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-tertiary: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    box-sizing: border-box;
    font-family: var(--font-tertiary);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 5rem;
}

.cabecalho-menu-link {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary);
    text-decoration: none;
}

.cabecalho-menu-link:hover {
    text-decoration: underline;
}

.destaque-titulo {
    color: var(--color-secondary);
}

.apresentacao, .sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 5.125rem;
}

.apresentacao-conteudo, .sobre-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-right: 2.5rem;
}

.apresentacao-conteudo-titulo, .sobre-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--font-primary);
}

.apresentacao-conteudo-texto, .sobre-conteudo-texto {
    margin: 1.25rem 0;
    font-size: 1.125rem;
    font-family: var(--font-secondary);
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
    gap: 2rem;
}

.apresentacao-links-subtitulo {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-links a {
    margin-right: 1rem;
    font-family: var(--font-secondary);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao-links a:hover {
    background-color: var(--color-hover);
}

.apresentacao-links-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: 50%;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--color-light);
    border-radius: 8px;
    border: var(--color-secondary) 2px solid;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: var(--color-dark);
    background-color: var(--color-secondary);
    font-family: var(--font-secondary);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao, .sobre {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5%;
    }

    .apresentacao-conteudo, .sobre-conteudo {
        width: 100%;
        margin: 0;
    }

    .apresentacao-imagem {
        width: 80%;
        margin-top: 2rem;
    }
}